body {
    background-color: white;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.header-content{

    background: #3f51b5;
    border-radius: 7px;
    color: #fff;
    -moz-box-shadow:    inset 0 0 10px blue;
    -webkit-box-shadow: inset 0 0 10px blue;
    box-shadow:         inset 0 0 10px blue;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    margin: 2px;
    padding: 1%;

  }

  main {
    display: grid;
    grid-template-columns: auto ;
    margin: 3%;
    padding: 0;

  }




.column{
    text-align: center;
    width: 90%;
    background-color: #151B3B;
    margin: 10px;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    box-shadow: 7px 12px #20639B;
}

img{

    width: 75%;
    margin: 12%;
}

.tilte{
    background-color: #293573;
    padding: 0;
    margin: 0;
}

.text{
    margin:5px;
    padding: 15px;
    border-style: 10px solid white;
    padding-bottom: 0;
    border: 3px solid #20639B;
    border-radius: 10px;
    font-family: 'Paytone One', sans-serif;
}

a{
    color:white;

}

hr{
    border: 3px solid white;
    border-radius: 5px;
}


.footer-content{
    width: 100%;
    background: #3f51b5;
   height: 100%;
    border-radius: 7px;
    left: 25%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #fff;
    -moz-box-shadow:    inset 0 0 10px blue;
    -webkit-box-shadow: inset 0 0 10px blue;
    box-shadow:         inset 0 0 10px blue;
  
}







