body {
    background-color: white;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */   
  }


header{
    background-color:  #DEB718;
    height: 100%;
}


/* ADD FOR SATURDAY */ 


.ad {
   
    background-color: #0094b2;
    color: white;
    margin-top:0%;
    padding-top: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 30% auto;
    -moz-box-shadow: inset 0 0 10px #093b61;
    -webkit-box-shadow: inset 0 0 10px #093b61;
    box-shadow: inset 0 0 10px #093b61;
    }
    
.ad p {
    margin-top: 0%;
    align-items: center;
 }
    


#hour{
    color: #78d44f;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Rubik', sans-serif;
    padding-top: 0%;
}

#saturday{
    font-size: 12px;
    text-shadow: 2px 2px black;
    font-family: 'Potta One', cursive;
    padding-top: 1%;
}


/* LOGO */ 

.logo{
    width: 100%;
    /*font-family: 'Pangolin', cursive;*/
}

.logo img{
    width: 100%;
}

.wrapper {
    margin-left: 3%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 100% 100%;
    grid-gap: 3%;
    text-align: center;
    align-items: center;
}

.box2 {
    grid-column: 2 / 4;
    grid-row: 1;  
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.box2 h1{  
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    padding: 0;
    margin: 2%;
    
    
}
.box2 p{  
    color: #025492;
    font-size: 10px;
    padding-top: 2%;
    margin: 0;
    font-family: 'Potta One', cursive;
    text-shadow: 1px 0px #3099e9;
   
}

.box1 {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
}

/* CSS OF MENU */ 

nav {
    background-color: #025492;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
   -webkit-box-shadow: inset 0 0 10px #3099e9;
   box-shadow:         inset 0 0 10px #3099e9;
   text-shadow: 1px 1px black;
}

#navigation {
    list-style:none;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: auto;
    
}



#navigation li:first-child{
    display:block;
}

#navigation li{
    display:none;
}



#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active{
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    color: #DEB718;
    font-weight: bold;
}

#navigation a:hover {
    color: white;
    background-color: #DEB718;

}

#navigation.responsive li {
    display:block;
}


.active{
    
    border-bottom: 5px solid #de5718;
    border-top: 5px solid #de5718;
    border-left: 5px solid #de5718;
    border-right: 5px solid #de5718;
}

/* main */ 


#main{
    
    margin-bottom:3%;
    height: 100%;

}

.main_title{
    text-align: center;
    width: 100%;
    align-items: center;
    font-family: 'Concert One', cursive;
    text-shadow: 1px 1px #DEB718;
    font-size: 20px;
    color: black;
}

.loading{
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
}

.box{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    background-color: rgb(230, 218, 218);
}

.gallery{
   
}

/* EFFECTS */

[data-src]{
    width: 100%;
    height: 100%; 
}

img {
    
   
    opacity: 1;
	transition: opacity 3s;
}


.placeholder-loading::before {
    content:"";
    display: flex;
    position: absolute;
    left: -400px;
    top:0;
    height: 400px;
    width: 300px;
}

.placeholder-loading {
    display: inline-block;
    position:relative;
    overflow:hidden;
}

@keyframes load{
    0% {
        left: -400px;
    }
    100% {
        left: 100%;
    }
}


/* INFORMATION */
.information{
    border-style: none;
    margin-top: 5%;
    border-radius: 5px;
    padding: 2%;
    padding-top: 5%;
    margin-bottom: 0;
    background-color: #80a9c8;  
    text-align: center;
    margin-bottom:2%;
}


    /* GOOGLE MAP */

iframe {
    width: 300px;
    height: 300px;
    border-width: 0px;

}

.info_title{
   
    text-align: center;   
    text-shadow: 1px 1px black;
    color: white;
    padding-bottom: 2%;
    padding-top: 0%;
    margin-top: 0%;
}

.inf_tel{
    padding-bottom: 6%;
    color: black;
}

.inf_icon{
    display:grid;
    grid-template-columns: 20% auto auto auto auto 20% ;
    grid-gap: 1%;
    width: 100%;
    margin-left: 12%;
  
}

.social_media{
    width:50%;
    box-shadow: 3px 3px 53px 3px #025492;
}


.social_media:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.inf_tel{
    margin-top: 5%;
}

.inf_tel i{
    margin: 2%;
}


  
footer {
    background-color: #025492;
    align-items: center;
    text-align: center;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
    -webkit-box-shadow: inset 0 0 10px #3099e9;
    box-shadow:         inset 0 0 10px #3099e9;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom:0%;
    width: 100%;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px black;
    margin-top: 0%;

}

@media only screen and (min-width: 34.5em){

    .wrapper {
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
        padding-top: 1%;
        padding-bottom: 2%;
        grid-gap: 5%;
   
      
    }

    /* AD FOR SATURDAY */
    .pancakes img{
        width: 70%;
    }
    
    .ad_images{
        margin-left:30%;
    }

    #hour{
       
        font-size: 15px;
    }

    #saturday{
       
        font-size: 18px;
    }

    .logo{
        width: 100%;
    }

    .box2 {
        text-align: center;

    }


    .box2 h1{  
        font-size: 40px;  
        margin: 0;

    }

    .box2 p{  
        font-size: 12px;  
        text-shadow: 1px 1px white;

    }

    nav {
        max-width: 100%;
        font-size: 15px;
    }

    #navigation {
        grid-template-columns: repeat(8, auto);
    }

    #navigation li {
        display: block;
    }

    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }

    .active{
    
        border-bottom: 10px solid #de5718;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 2%;
        height: 100%;
    }


    main{
    
       
        padding:0%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        margin-top: 3%;
        margin-bottom: 3%;

        
    }

    .loading{
        width: 300px;
        height: 216px;
        border-radius:7px;
    }

    .box{
       
        margin-bottom: 4%;
        border-radius:7px;
    }
    


    footer{
       
        margin-top:1%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: 15px;
        bottom:0%;
    }

    footer p{
        padding:0;
        margin:1%;
    }


}

@media only screen and (min-width: 64.063em) {


    .wrapper {
       
        padding-bottom: 1%;
        grid-gap: 0%;
        
    }

    nav {
        font-size: 12px;
    }

    a{
        font-size: 17px;
    }
    
    /* LOGO */ 

    .logo{
        width: 50%;
    }

    .logo img{
        width: 80%;
        margin-right: 15%;
    }

    .box2 h1{  
        font-size: 40px;  
       
    }

    .box2 p{  
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 2%;
        font-size: 14px;  
    }

    .active{
        border-bottom: 10px solid #de5718;
        border-top: none;
        border-left: none;
        border-right: none;
    }

   
       
     /* ad for saturday  */ 
    .pancakes img{
        width: 50%;
    }

    #saturday{
        font-size:25px;
    }

    #hour{   
        font-size: 18px;
    }


    .main_title{
    
        font-size: 30px;
    }



    .box{
       
        margin-bottom: 7%;
        -moz-box-shadow: 0 5px 20px rgb(189, 183, 183);
        -webkit-box-shadow: 0 5px 20px rgb(90, 90, 90);
        box-shadow: 5px 5px 5px rgb(75, 73, 73);
        border-radius:7px;
    }

    .box:hover {
        box-shadow: 5px 5px 10px #3099e9; 
      }
    

    .loading{
        width: 100%;
        height: 216px;
        border-radius:7px;
    }

    .gallery{
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-template-rows: 1fr 1fr 1fr ;
        column-gap: 3%;
        height: 100%;
    }

    h2{
        font-size:15px;
    }

   
      /* CONTACT INFORMATION */ 

      .information{
        
        margin-top: 2%;
        display: grid;
        grid-template-columns: auto 30% 45%;
        grid-gap:5%;
        padding-top: 3%;
        box-shadow: 5px 5px 15px 5px gray;      
    }

     /* GOOGLE MAP */

    iframe {
        width: 350px;
        height: 250px;
    }
    

    .inf_tel i{
        font-size:15px;
        padding: 1%;
    }

    .inf_tel {
        text-align: left;
        left: 50%;
        margin-left: 15%;
    }

    .inf_icon{
        width:100%;
        margin-top: 3%; 
        margin-left: 15%;
    }

     
    footer{
            font-size: 15px;
    }
}