
body {
    background-color: white;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */   
  }


header{
    background-color:  #DEB718;
    height: 100%;
}


/* ADD FOR SATURDAY */ 


.ad {
   
    background-color: #0094b2;
    color: white;
    margin-top:0%;
    padding-top: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 30% auto;
    -moz-box-shadow: inset 0 0 10px #093b61;
    -webkit-box-shadow: inset 0 0 10px #093b61;
    box-shadow: inset 0 0 10px #093b61;
    }
    
.ad p {
    margin-top: 0%;
    align-items: center;
 }
    


#hour{
    color: #78d44f;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Rubik', sans-serif;
    padding-top: 0%;
}

#saturday{
    font-size: 12px;
    text-shadow: 2px 2px black;
    font-family: 'Potta One', cursive;
    padding-top: 1%;
}


/* LOGO */ 

.logo{
    width: 100%;
    /*font-family: 'Pangolin', cursive;*/
}

.logo img{
    width: 100%;
}

.wrapper {
    margin-left: 3%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 100% 100%;
    grid-gap: 3%;
    text-align: center;
    align-items: center;
}

.box2 {
    grid-column: 2 / 4;
    grid-row: 1;  
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.box2 h1{  
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    padding: 0;
    margin: 2%;
    
    
}
.box2 p{  
    color: #025492;
    font-size: 10px;
    padding-top: 2%;
    margin: 0;
    font-family: 'Potta One', cursive;
    text-shadow: 1px 0px #3099e9;
   
}

.box1 {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
}

/* CSS OF MENU */ 

nav {
    background-color: #025492;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
   -webkit-box-shadow: inset 0 0 10px #3099e9;
   box-shadow:         inset 0 0 10px #3099e9;
   text-shadow: 1px 1px black;
}

#navigation {
    list-style:none;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: auto;
    
}



#navigation li:first-child{
    display:block;
}

#navigation li{
    display:none;
}



#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active{
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    color: #DEB718;
    font-weight: bold;
}

#navigation a:hover {
    color: white;
    background-color: #DEB718;

}

#navigation.responsive li {
    display:block;
}


.active{
    
    border-bottom: 5px solid #de5718;
    border-top: 5px solid #de5718;
    border-left: 5px solid #de5718;
    border-right: 5px solid #de5718;
}

main{
    margin-bottom: 0%;
}

.main_title{
    text-align: center;
    width: 100%;
    align-items: center;
    font-family: 'Concert One', cursive;
    text-shadow: 1px 1px #DEB718;
    font-size: 20px;
    color: black;
}


/* TOWNS*/   

.cards {
    margin-top: 2%;
    margin-bottom: 2%;
}

article{
    margin: auto;
    margin-bottom: 2%;
    width: 80%;
    padding-top: 3%;
    text-align: center;
    border: solid 3px #093b61;
    border-radius: 10px;
    background-color: #3099e926;
}


.cards img{
    width: 75%;
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: 0px 0px  20px rgb(97, 94, 94);
    margin-top: 5%;
}

.data p{
    color: #062c49;
    font-weight: bold;
    font-size: 17px;

}

.data h3{
    font-size: 10px;
    padding-top: 0%;
    margin-top: 0%;
    padding-bottom: 5%;
    font-family: 'Patrick Hand', cursive;
}

.data h2{
    font-size: 40px;
    padding-bottom: 7%;
    margin-bottom: 0%;
    text-decoration: underline #093b61;
    text-shadow: 1px 1px #3099e9;
    font-family: 'Akaya Telivigala';
}


/* fFRAMES */ 

.frames{
    margin: 3%;
    margin-left: 10%;
}

.frames p{
    padding: 0;
    margin: 0;
}

/* INFORMATION */
.information{
    border-style: none;
    margin-top: 5%;
    border-radius: 5px;
    padding: 2%;
    padding-top: 5%;
    margin-bottom: 0;
    background-color: #80a9c8;  
    text-align: center;
    margin-bottom:2%;
}


    /* GOOGLE MAP */

iframe {
    width: 300px;
    height: 300px;
    border-width: 0px;

}

.info_title{
   
    text-align: center;   
    text-shadow: 1px 1px black;
    color: white;
    padding-bottom: 2%;
    padding-top: 0%;
    margin-top: 0%;
}

.inf_tel{
    padding-bottom: 6%;
    color: black;
}

.inf_icon{
    display:grid;
    grid-template-columns: 20% auto auto auto auto 20% ;
    grid-gap: 1%;
    width: 100%;
    margin-left: 12%;
  
}

.social_media{
    width:50%;
    box-shadow: 3px 3px 53px 3px #025492;
}


.social_media:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.inf_tel{
    margin-top: 5%;
}

.inf_tel i{
    margin: 2%;
}


  
footer {
    background-color: #025492;
    align-items: center;
    text-align: center;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
    -webkit-box-shadow: inset 0 0 10px #3099e9;
    box-shadow:         inset 0 0 10px #3099e9;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom:0%;
    width: 100%;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px black;
    margin-top: 0%;

}


@media only screen and (min-width: 34.5em){

    .wrapper {
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
        padding-top: 1%;
        padding-bottom: 2%;
        grid-gap: 5%;
   
      
    }

    /* AD FOR SATURDAY */
    .pancakes img{
        width: 70%;
    }
    
    .ad_images{
        margin-left:30%;
    }

    #hour{
       
        font-size: 15px;
    }

    #saturday{
       
        font-size: 18px;
    }

    .logo{
        width: 100%;
    }

    .box2 {
        text-align: center;

    }


    .box2 h1{  
        font-size: 40px;  
        margin: 0;

    }

    .box2 p{  
        font-size: 12px;  
        text-shadow: 1px 1px white;

    }

    nav {
        max-width: 100%;
        font-size: 15px;
    }

    #navigation {
        grid-template-columns: repeat(8, auto);
    }

    #navigation li {
        display: block;
    }

    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }

    .active{
    
        border-bottom: 10px solid #de5718;
        border-top: none;
        border-left: none;
        border-right: none;
    }


    /* TOWNS*/   

    .cards{
        margin-left: 5%;
        
    }

    article {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        margin: 2%;
        width: 90%;
        text-align: center;
        
    }

    article:hover {
        box-shadow: 0px 0px 20px #3099e9; 
      }


    article:nth-child(odd) .data  {
        grid-column: 2;
    }
    
    article:nth-child(odd) .image_box {
        grid-column: 1;
        grid-row: 1;
    }
    
      /* INFORMATION */

      .information{
    
        box-shadow: 5px 5px 15px 5px gray;
        width:83%;
        margin:auto;
        margin-bottom: 2%;
        padding-top: 3%;
        padding-bottom: 2%;
    }

      /* GOOGLE MAP */

    iframe {
        width: 450px;
        height: 350px;
    
    }

    .inf_tel i{
        margin: 2%;
    }
  

    

    footer{
        margin-left: 0%;
        margin-right: 5%;
        width: 100%;
        font-size: 15px;
        bottom:0%;
    }

    footer p{
        padding:0;
        margin:1%;
    }


}

@media only screen and (min-width: 64.063em) {


    .wrapper {
       
        padding-bottom: 1%;
        grid-gap: 0%;
        
    }

    nav {
        font-size: 12px;
    }

    a{
        font-size: 17px;
    }
    
    /* LOGO */ 

    .logo{
        width: 50%;
    }

    .logo img{
        width: 80%;
        margin-right: 15%;
    }

    .box2 h1{  
        font-size: 40px;  
       
    }

    .box2 p{  
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 2%;
        font-size: 14px;  
    }

    .active{
        border-bottom: 10px solid #de5718;
        border-top: none;
        border-left: none;
        border-right: none;
    }

   
       
     /* ad for saturday  */ 
    .pancakes img{
        width: 50%;
    }

    #saturday{
        font-size:25px;
    }

    #hour{   
        font-size: 18px;
    }

    .main_title{
    
        font-size: 25px;
        margin: auto;
    }

     
    /* TOWNS*/   
    
    .cards{
        margin: 0 auto;
        width: 90%;
        margin-top: 2%;
        display:grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 1%;
        padding-left: 2%;
    }

    article:hover {
        box-shadow: 0px 0px 20px #3099e9; 
      }

    
    
    article {
        display: inline-block;
        margin-bottom: 0%;
    }

    article p{
        font-size: 20px;
    }

    .data h3{
        font-size: 18px;
    }

    .image_box {
        padding-top:5%;
    }

   
      /* CONTACT INFORMATION */ 

      .information{
        
        margin-top: 2%;
        display: grid;
        grid-template-columns: auto 30% 45%;
        grid-gap:5%;
        padding-top: 3%;
        box-shadow: 5px 5px 15px 5px gray;      
    }

     /* GOOGLE MAP */

    iframe {
        width: 350px;
        height: 250px;
    }
    

    .inf_tel i{
        font-size:15px;
        padding: 1%;
    }

    .inf_tel {
        text-align: left;
        left: 50%;
        margin-left: 15%;
    }

    .inf_icon{
        width:100%;
        margin-top: 3%; 
        margin-left: 15%;
    }

     
    footer{
            font-size: 15px;
    }
}