

header{
    background-color: $maincolor;
    height: 180px;

    .wrapper {
        margin-left: 3%;
        margin-right: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        
        .box1 {

            .logo {
                width: 50%;
                /*font-family: 'Pangolin', cursive;*/
                img{
                    width: 70%;
                }//LOGO IMAGE
            }//LOGO
        }//BOX1



        .box2 {
            grid-column: 2 / 4;
            grid-row: 1;  
            padding: 0;
            margin: 0;
            margin-top: 2%;
            text-align: center;

            h1{  
                color: white;
                text-shadow: 2px 2px black;
                font-size: 25px;
                padding: 0;
                margin: 2%;
                
                
            }

            p{  
                color: #025492;
                font-size: 18px;
                padding-top: 2%;
                margin: 0;
                font-family: 'Potta One', cursive;
                text-shadow: 1px 0px #3099e9;
               
            }

            hr{
                color : white;
            }
            
        }//BOX2


    }
}//HEADER


/* CSS OF MENU */ 

nav {
    max-width: 100%;

 
   #navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top:1%;
    
    li:hover > #submenu{
        display: block;
    }
    
   
    li:first-child{
        display: none;
    }

    li{
        display: block;

    
        #submenu{
        
            display:none;
           
        }


        a{
            color:rgb(46, 28, 148);
        }
       
    
    
        a.active{
            color:#3099e9;
            border-bottom: 8px solid #3099e9;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 10px;
        }


       
    }//li

   

    }//#navigation
}//NAV

main {
    .features{

        #hero_ph { 
            height: 450px; 
            }
    

            .weather_summary {

                width:50%;
                left: 25%;
                top: 35%;
                font-size: 20px;
    
                .weather_text{

                    p{
                        padding: 1%;
                    
                    }

                    a.button {
                        
                        width: 80%;
                        font-size: 18px;
                
                    }
                
                }
            }
    }

    #content{
        h2.title{
            font-size: 18px;
        }

        
        p{
        
            font-size: 15px; 
            
        }

    }

    #amenities{
        h2.title{
           
            font-size: 18px; 
           
        }
    }

    hr.divider2{
        margin-top: 15%;  
    }

    #temples-slider{
        
        h2.title{
            font-size: 18px; 
            margin-bottom: 3%;
           
        }
        a.button {
            font-size: 20px;
            margin: 0 auto;
            margin-top: 2%;
            width:50%;
        }

        img{
            margin-left: 10%;
            width:80%;
        }
    }

    .reservation{

        h2{
            margin: 3%;
        }
        form{
            .form-box{
                
                padding:2%;

                p{
                    margin: 2%;
                    margin-left: 3%;
                }
                
            }
            div{
                margin: 3%;
            }
          
        }
    }

    #temples{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 0 auto;
        width: 90%;

        article.weather{
            display:grid;
            text-align: center;
            padding: 5%;
            padding-bottom: 5%;
            padding-top: 15%;
            margin-bottom: 4%;

            span#weather-title{
                font-weight: bold;
                color: $maincolor
            }
           
        }
    }

    #temples-home{
        display:grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
        width: 90%;

        article{

            h1{
                color: yellow;
            }
            
        }
        article.weather{

            span#weather-title{
                font-weight: bold;
                color: $maincolor
            }
           
        }
    }


}


footer{
    margin-top: 5%;
    background-color: $maincolor;
    color: white;
    padding: 2%;
    text-align: center;

    h3{
        font-size: 15px;
        margin-bottom: 2%;
    }
    p{
        text-align: center;
        font-size: 12px;
    }

    .socialIcons{
        margin-top:2%;
        margin-left: 0%;
    }
}