*{
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;   
}

body {
    background-color: white;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */   
    margin: 0; 
}


header{
    background-color: $maincolor;
    height: 150px;

    .wrapper {
        margin-left: 3%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;
        display: grid;
        grid-template-columns: 20% 80% ;
        grid-template-rows: 100% 100%;
        grid-gap: 3%;
        text-align: center;
        align-items: center;


        .box1 {
            grid-column: 1;
            grid-row: 1 / 2;
            text-align: center;

            .logo {
                width: 100%;
                /*font-family: 'Pangolin', cursive;*/
                img{
                    width: 100%;
                }//LOGO IMAGE
            }//LOGO
        }//BOX1



        .box2 {
            grid-column: 2 / 4;
            grid-row: 1;  
            padding: 0;
            margin: 0;
            margin-top: 2%;
            text-align: center;

            h1{  
                color: white;
                text-shadow: 2px 2px black;
                font-size: 25px;
                padding: 0;
                margin: 2%;
                
                
            }

            p{  
                color: #025492;
                font-size: 18px;
                padding-top: 2%;
                margin: 0;
                font-family: 'Potta One', cursive;
                text-shadow: 1px 0px #3099e9;
               
            }

            hr{
                color : white;
            }
            
        }//BOX2


    }
}//HEADER


/* CSS OF MENU */ 

nav {
    
    -moz-box-shadow:    inset 0 0 10px $secondcolor;
   -webkit-box-shadow: inset 0 0 10px $secondcolor;
   box-shadow:         inset 0 0 10px $secondcolor;
   text-shadow: 1px 1px black;
  
 
  
   #navigation {
        background-color: $secondcolor;
        list-style:none;
        padding: 0;
        margin: 0;
        display:grid;
        grid-template-columns: auto;

    li:first-child{
        display:block;
    }

    li{
        display:none;

        a:link, #navigation a:visited, #navigation a:hover, #navigation a:active{
            display: block;
            padding: 0.75em;
            text-align: center;
            text-decoration: none;
            color: rgb(37, 37, 116);
            font-weight: bold;
        }
    
        a:hover {
            color: white;
            background-color: #DEB718;
        
        }
    
        .active{
            border-bottom: 5px solid #3099e9;
            border-top: 5px solid #3099e9;
            border-left: 5px solid #3099e9;
            border-right: 5px solid #3099e9;
        }
    }

    .responsive li {
        display:block;
    }
    
    
    }//#navigation
}//NAV


main {

.features{
    overflow: hidden; 
   

    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }

        
        
        #hero_ph { 
                overflow: hidden; 
                height: 250px;
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 20s slidy; 
                }
        #hero_ph img { width: 20%; float: left; }

        .weather_summary {
            position: absolute;
            width: 70%;
            left: 15%;
            align-items: center;
            text-align: center;
            top: 30%;
            background-color: rgba(2, 84, 146, 0.685);
            color: white;
            box-shadow: 5px 5px 15px 1px white;
            border-radius: 8px;
            font-weight: bold;
            text-shadow: 1px 1px black;

            h3{
                margin: 2%;
            }
            hr{
                color:$secondcolor;
            }

            .weather_text{
                grid-gap: 3%;
                margin:2%;

                p{
                    padding: 1%;
                    font-size: 12px;
                }

                a.button {
                    display: block;
                    margin: 0 auto;
                    margin: 5%;
                    background-color: $secondcolor;
                    border: none;
                    padding: 5%;
                    color:#3099e9;
                    border-radius: 15px;
                    font-weight: bold;
                    text-decoration: none;
   
                }
            
            }
        }

}



#content{
    display: block;
   
   
    h2{
        color:white;
    }
    h2.title{

        font-size: 15px; 
        text-align: center;
        margin:1%;
        color: black;

    }

    p{
        text-align: center;
        color: blue;
        margin: 7%;
        font-size: 12px; 
        
    }
}

hr.divider{
    margin:0 auto;
    width:50%;
    
}

#amenities{
    h2.title{
        margin-top:6%;
        font-size: 15px; 
        text-align: center;
    }

    .all-amenities{
        margin:7%;
        display:grid;
        grid-template-columns: 30% auto auto;
        row-gap: 12%;
        column-gap: 5%;
        width: 85%;
        object-fit: cover;

        .box1{
            border: solid 1px ;
            border-radius: 10px;
            padding:5%;
            color: #3099e9;
            text-align: center;
        }
 
    }
    


}

hr.divider2{
    display:block;
    margin:0 auto;
    margin-top: 23%;
    width:50%;
    
}

#temples-slider{
    h2.title{
        margin-top:6%;
        font-size: 15px; 
        text-align: center;
    }

    article{
        margin: 2%;
        background-color: #3099e9;
        color: white;
        border-radius: 15px;
        padding: 5%;
    }

    h1{
        margin-top: 5%;
        text-align: center;
        font-size: 15px;
    }

    img{
        margin-left: 23%;
        width:50%;
        border-radius: 15px;
    }

    p{
        text-align: center;
    }

    a.button {
        display: block;
        margin: 5%;
        background-color: $secondcolor;
        border: none;
        padding: 5%;
        color:#3099e9;
        border-radius: 15px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        box-shadow: 5px 5px 10px 1px black;
    }

    

}

    .reservation{
        margin: 0 auto;
        margin-top: 5%;
        width: 90%;

        h2{
            margin: 5%;
        }
        form{
            .form-box{
                background-color: #3099e9;
                padding:5%;
                border-radius: 10px;
            }
            div{
            margin: 3%;
            }
            input{
                width:50%;
            }
        }
    }

    #temples{

        article{

            h1{
                color: yellow;
            }
            
        }
        article.weather{
            display:grid;
            row-gap: 10%;
            text-align: center;
            padding: 5%;
            padding-bottom: 15%;
            margin-bottom: 10%;

            span#weather-title{
                font-weight: bold;
                color: $maincolor
            }
           
        }
    }
}



footer{
    margin-top: 5%;
    background-color: $maincolor;
    color: white;
    padding: 5%;

    h3{
        font-size: 15px;
        margin-bottom: 3%;
    }
    p{
        
        text-align: center;
        font-size: 12px;
    }

    .socialIcons{
        margin-top:5%;
        margin-left: 45%;
    }
}