

body {
    background-color: white;
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }


header{
    background-color:  #DEB718;
    height: 100%;
}

.ad {
    background-color: #0094b2;
    color: white;
    margin-top:0%;
    padding-top: 2%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 30% auto;
    -moz-box-shadow:    inset 0 0 10px #093b61;
    -webkit-box-shadow: inset 0 0 10px  #093b61;
    box-shadow:         inset 0 0 10px  #093b61;

}

.ad p {
    margin-top: 0%;
    align-items: center;
   
}

.ad_image{
    
    margin-left: 10%;
}

.ad_image img{
    width: 80%;

}

.hour{
    color: #78d44f;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: 'Rubik', sans-serif;
    padding-top: 0%;
}

.saturday{
    font-size: 12px;
    text-shadow: 2px 2px black;
    font-family: 'Potta One', cursive;
    padding-top: 3%;
}

.logo{
    width: 100%;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100% 100%;
    grid-gap: 3%;
    text-align: center;
    align-items: center;
}

.box2 {
    grid-column: 2 / 4;
    grid-row: 1;  
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.box2 h1{  
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    padding: 0;
    margin: 2%;
}
.box2 p{  
    color: #025492;
    font-size: 10px;
    padding-top: 2%;
    margin: 0;
}

.box1 {
    grid-column: 1;
    grid-row: 1 / 2;
    text-align: center;
}

/* CSS OF MENU */ 

nav {
    background-color: #025492;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
   -webkit-box-shadow: inset 0 0 10px #3099e9;
   box-shadow:         inset 0 0 10px #3099e9;
   text-shadow: 1px 1px black;
}

#navigation {
    list-style:none;
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: auto;
    
}



#navigation li:first-child{
    display:block;
}

#navigation li{
    display:none;
}



#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active{
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    color: #DEB718;
    font-weight: bold;
}

#navigation a:hover {
    color: white;
    background-color: #DEB718;

}

#navigation.responsive li {
    display:block;
}

main{
    margin-bottom: 3%;
}

.main_title{
    text-align: center;
    width: 100%;
    align-items: center;
}

.content{
    border-style: dotted;
    margin-top: 3%;
    padding: 3%;
    
}


  /*  HERO IMAGE  */

.hero_image{
    position: relative; 
    width: 100%;
    height: 250px;
    
}

.hero_ph{
    width: 100%;
    height: 250px;
    background-image: url('../images/preston.jpg');
    /* linear-gradient(to bottom, #025492,rgba(123, 132, 182, 0) 50%,rgba(245, 246, 252, 0) 45%, #025492 90%),*/
    background-size: cover;

}


.weather_summary {
      position: absolute;
      width: 50%;
      left: 25%;
      align-items: center;
      text-align: center;
      top: 25%;
      background-color: rgba(2,84,146, 0.85);
      color: white;
      box-shadow: 5px 5px 15px 5px gray;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px black;
}

.weather_text{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 3%;

}

.weather_white{
    text-align: right;
}

.weather_yellow{
    text-align: left;
    color: #DEB718;
}

.day_forecast{
    border-style: dotted;
    margin-top: 3%;
    padding: 3%;

}
    /* FOOTER  */

footer {
    background-color: #025492;
    align-items: center;
    text-align: center;
    -moz-box-shadow:    inset 0 0 10px #3099e9;
    -webkit-box-shadow: inset 0 0 10px #3099e9;
    box-shadow:         inset 0 0 10px #3099e9;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom:0%;
    width: 100%;
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px black;
}


@media only screen and (min-width: 34.5em){

    .wrapper {
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
        padding-top: 1%;
        padding-bottom: 2%;
        grid-gap: 0;
   
      
    }
    .logo{
        width: 50%;
    }

  
    

    .box2 {
        text-align: center;
    
    
    }


.box2 h1{  
    font-size: 60px;  
    margin: 0;

}

.box2 p{  
    font-size: 18px;  
    text-shadow: 1px 1px white;
  

}

    nav {
        max-width: 100%;
        font-size: 25px;
    }

    #navigation {
        grid-template-columns: repeat(8, auto);
    }

    #navigation li {
        display: block;
    }

    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }

    main{
    
        display: grid;
        grid-template-columns: auto;
        padding:0%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        margin-top: 3%;
        margin-bottom: 3%;

        
    }


    footer{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-size: 15px;
        bottom:0%;
    }

    footer p{
        padding:0;
        margin:1%;
        font-size: 10px;
    }
}

@media only screen and (min-width: 11em) {

    nav {
      
        font-size: 15px;
    }
    
    .logo{
        width: 90%;
    }

    .box2 h1{  
        font-size: 40px;  
       
    }
    

    .box2 p{  
    font-size: 13px;  
    }
  
    /* HERO/BANNER  */

    .hero_image{
        height: 450px; 
      }
    
    .hero_ph{
        width: 100%;
        height: 250px;
      }

    footer{
        font-size: 40px;
     
    }
}




