* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 82.5%;
    line-height: 1.4;
  }
  
  html, body {
    height: 100%;
    min-height: 100%;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }
  

.header-content{
    width: 100%;
    height: 100px;
    background: #3f51b5;
    position: fixed;
    border:1px solid #666;
    left: 0;
    color: white;
}

.footer-content{
    width: 100%;
    background: #3f51b5;
    height:82px;
    border: 1px solid #666;
    left:0;
    position: fixed;
    bottom: 0;
}