.container{
    background-color: rgb(67, 219, 67);
    text-align: center;
   
    width:70%;
    padding-top:3%;
    padding-bottom:3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left:15%;
    

}